body {
    background-image: url("../images/abstract-art-backdrop-926985.jpg");
    background-color: #ffffff;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 100px;
    margin-bottom: 20px;
}